extends base
append content
  - var count = 0

  .Posts
    - page.posts.each(function(article){
      - count++
      div(class="Post L#{article.style} L#{count}")
        .inner
          a(href=config.root + article.path)
            if(article.style == "text")
              p.title= article.title
              p.description= article.description
            else if(article.style == "photo")
              .thumb
                img(src=article.thumb)
            else if(article.style == "thumb")
              .thumb
                img(src=article.thumb)
              .content
                .inner
                  p.title= article.title
                  p.description= article.description
          .Meta
            include _partial/article_meta
            +date(article.date)
            +category(article.categories)
            .Response
              ul
                li.tweet(data-url="http://ideyuta.com/" + article.path)
                  i.znicon-twitter
                  i.count
                li.like(data-url="http://ideyuta.com/" + article.path)
                  i.znicon-facebook
                  i.count
                li.hatebu(data-url="http://ideyuta.com/" + article.path)
                  img(src='http://b.st-hatena.com/images/entry-button/button-only@2x.png', width='16', height='16')
                  i.count


    - })

  include _partial/pagination

  include _partial/_Facebook
  include _partial/_Hatebu
  include _partial/_Twitter

  include _partial/_GoogleAnalytics
