doctype html
html(lang='en')
  head
    include _partial/head
  body
    - var count = 0

    ul.Posts
      - page.posts.each(function(article){
        - count++
        li(class="Post L#{article.style} L#{count}")
          if(article.style == "text")
            a(href=config.root + article.path)= article.title
            p= article.description
          else if(article.style == "photo")
            a(href=config.root + article.path)= article.title
            img(src=article.thumb)
          else if(article.style == "thumb")
            a(href=config.root + article.path)= article.title
            p= article.description
            img(src=article.thumb)
      - })

    include _partial/article_list_pagination
